@import "../../../../node_modules/include-media/dist/include-media";
@import "styles/variables";
@import "styles/utils";
@import "../commons";

.nav {
  @extend %base-nav;
  background: transparent;

  &.in_scroll {
    background: $bg-dark;
  }

  @include media("<=sm") {
    display: none;
  }
}

.content {
  @extend %content-size;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  color: white;
}

.logo {
  @extend %base-nav-logo;
  height: $nav_logo-size;
  width: $nav_logo-size;
}

.nav_items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .nav_item {
    cursor: pointer;
    margin-left: 50px;
    position: relative;
    color: $color-tertiary;
    font-size: 16px;
    font-weight: bold;
    transition: color .35s ease;
    text-transform: uppercase;

    &:after {
      $size: 10px;
      content: '';
      width: $size;
      height: $size;
      background: $color-primary;
      display: inline-block;
      position: absolute;
      bottom: -13px;
      left: 50%;
      margin-left: -$size/2;
      border-radius: 50%;
      transform: scale(0);
      transition: transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
    }

    &.active,
    &:hover {
      color: white;

      &:after {
        transform: scale(1);
      }
    }
  }
}

.nav_icons {
  cursor: pointer;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column-gap: 16px;

  .nav_icon {
    color: $color-tertiary;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color .35s ease;

    svg {
      height: 32px;
      width: 32px;
      transition: height,width .35s ease;
    }

    &:hover {
      color: $color-primary;

      svg {
        height: 36px;
        width: 36px;
      }
    }
  }
}
