@import "styles/variables";
@import "styles/utils";

.container {
  width: 100%;
  position: absolute;
  top: 25%;
  left: 0;
  color: white;
}

.content {
  @extend %content-size;
  margin: 0 auto;
}

.presentation_container {
  display: grid;
  grid-template-rows: min-content min-content;
  justify-items: center;

  .text_primary {
    color: white;
    font-weight: bold;
    font-size: 64px;
    text-align: center;

    .name {
      color: $color-primary;
      text-transform: uppercase;
    }
  }

  .occupation {
    font-size: 20px;
    letter-spacing: 28px;
    color: $color-tertiary;
    text-transform: uppercase;
    text-align: center;
    margin-left: 25px;
  }

  @include media("<=1024px") {
    .text_primary {
      font-size: 48px;
    }

    .occupation {
      font-size: 16px;
      letter-spacing: 20px;
      margin-left: 20px;
    }
  }

  @include media("<=sm") {
    .text_primary {
      font-size: 32px;
    }

    .occupation {
      font-size: 14px;
      letter-spacing: 11px;
      margin-left: 11px;
    }
  }
}

.tagline_container {
  font-weight: bold;
  font-size: 48px;
  padding: 0 $content-padding;

  .typewriter_container {
    display: flex;
    align-items: baseline;

    div {
      font-size: 64px;
      text-transform: uppercase;
      margin-left: 30px;
    }
  }

  .typewriter_sub_text {
    line-height: 1;
  }

  @media (max-width: 1300px) {
    padding: 0 $content-padding-sm;
  }
}
