@import "styles/variables";

.container {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-row-gap: 6px;
  justify-items: left;
  color: white;
  font-weight: bold;
  font-size: 48px;
}

.varying_text {
  text-transform: uppercase;
}
